body {
  
  /*background-image: -webkit-linear-gradient(to left, #8000FF 5%, #000000);
  background-image: linear-gradient(to left,#8000FF 5%, #000000);
  background-repeat: "no-repeat";
  background-size: "cover";*/

}